.mainpage{
    background: url("../../assets/business-mobile-contracts.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

body{
    background-color: rgb(255, 255, 255) !important;
   
}